.partybody {
    position: absolute;
    padding-top: 48px; /* matches the Material UI default height for the Navigation element */
    z-index: -1;
    width: 100%;
    height: 100%;
    background: black;

    color: white;
    text-align: center;
}